@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

*{
  box-sizing:border-box; /*handy because so the padding, border etc are included in the total widith/height*/
}

#layout {
  background-color:#FFF9F3;
   border: 1vw solid #00AAE6 ;
    width:100%; 
  height:100%;
 	font-family: 'Raleway', sans-serif; 
	font-size: 2vw;  
}

 #title{
   font-family: 'Patrick Hand SC', cursive;
    margin-top: 2vw;
   margin-botton: 2vw;
    text-align:center;
    color:#FFA365;
    font-size:5vw;
  }
 
.section{
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
  marigin left: 4vw;
  margin-bottom:3vw;
}
    .button{
      justify-content:center;
      background:transparent;
       height: 8vw;
  width: 15vw;
      
      padding:1vw 1vw 1vw 1vw; /*top, right, bottom, left*/
      margin:2vw 1vw; 
     /* transition:all .5s ease;*/
      color:#41403E;
     
      letter-spacing:1px;
      outline:none;
      color: #027B98;
       border:solid 2px #FFA365;
      font-size: 2.5vw;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */}

       .fade:hover{ /* ":" means active link*/ 
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      } 
     

#repeatButton {
}

#playButton {
}

#stopButton {
}

#answerButton{
 position:relative;
   left:40%;
  font-size: 2.5vw;
  margin-bottom: 5vw;
}

#request{
  text-align: center; 
  vertical-align: middle; 
  color: #027B98;
}

.instruction-box{
 position:relative;
    width:80%;
  height: 15vw;
  left: 10%;
  margin-top: 4vw;
  marigin-left: 4vw;
  margin-bottom:8vw;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   border:solid 2px #2FC9FF;
}

#instruction {
  color:  #00AAE6;
  font-size: 1.5vw;
  padding: 1vw 1vw 2vw 3vw;
   position: relative;
  bottom: 2.5%;
    
}




.icon {
  padding: 1.3vw;
  left: 50%;
  transform: translate(-50%);
  color: #027B98;
  cursor: pointer;
  font-size:2vw;
}

#language-icon{ position: absolute;
}

#languageIconText{
  margin-top:4vw;
  font-size:1.5vw;
}

.icons-text{
   position: relative;
  text-align: center; 
  display: block;
  margin-top:1vw;
  font-size: 1.8vw;
  color: #027B98;
 font-family: Arial, Helvetica, sans-serif; 
 
}
.box{
  position: relative;
 width: 100%;
  height: 20vw;
  display: inline-flex;

}

.reset-icons{
   position: relative;
  display: inline-block;
 width: 10vw;
  height: 30vw;
  margin-top: 4vw;
  margin-left: 3vw;
  text-align: center; 
 -webkit-text-stroke: 0.05vw #FFF9F3; /*icon border to make them look lighter*/
}
#reset{
  
}


#home{
  margin-left:29vw;
  
}
