@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

*{
  box-sizing:border-box; /*handy because so the padding, border etc are included in the total widith/height*/
}

#layout {
  background-color:#FFF9F3;
   border: 1vw solid #00AAE6 ;
    width:100%;

 	font-family: 'Raleway', sans-serif;
	font-size: 2vw;
}

 #title{
   font-family: 'Patrick Hand SC', cursive;
    margin-top: -10vw;
   margin-botton: 2vw;
    text-align:center;
    color:#FFA365;
    font-size:5vw;
  }

  #searchButton {
    position:absolute;
    width: 7vw;
    height:5vw;
    left:88%;
    font-size: 1vw;
   top:15%;
     border-radius: 50%;
  }
  #speakerModeButton {
  position:absolute;
  width: 8.5vw;
  height:5vw;
  left:15%;
  font-size: 0.7vw;
 top:25%;
   border-radius: 50%;
}
#pianoModeButton {
  position:absolute;
  width: 6vw;
  height:5vw;
margin-left: -3vw;
  font-size: 1vw;
 top:5%;
 margin-top: 2vw;
   border-radius: 50%;

}

canvas{
  position: relative;
margin-left: 10vw;
margin-top: -5vw;
  width: 30%;
  height: 15vw;
  left: 0;
  top: 0;
  margin-top: 1vw;
  background:transparent;
  z-index: 900;
}

#startButton{
z-index: 1000;
margin-left: -20vw;

}
.instruction-box{
 position:relative;
    width:80%;
  height: 9.5vw;
  left: 10%;
  margin-top: 5vw;
  marigin-left: 4vw;
  margin-bottom:3vw;
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   border:solid 2px #2FC9FF;

}

.icon {
  padding: 1.3vw;
  left: 50%;
  transform: translate(-50%);
  color: #027B98;
    cursor: pointer;
}

#language-icon{ position: absolute;
  z-index: 64;
}


#languageIconText{
  margin-top:1.6vw;
  font-size: 1vw;
  margin-left: -20vw;


}

.icons-text{
   position: relative;
  text-align: center;
  display: block;
  margin-top:1vw;
  font-size: 1vw;
  color: #027B98;
 font-family: Arial, Helvetica, sans-serif;

}
.box{
  position: relative;
 width: 100%;
  height: 20vw;
  display: inline-flex;

}

#instruction {
  color:  #00AAE6;
  font-size: 1vw;
  padding: 1vw 1vw 20vw 3vw;
   position: relative;
  bottom: 2.5%;

}

#notation-icon{
position: relative;
font-size: 1.5vw;
margin-bottom: -2vw;
left:75%;
z-index: 64;
}

#notation-text
{
  left:32%;
margin-top: -1vw;}


.icons-text{
   position: relative;
  text-align: center;
  display: block;
  margin-top:1vw;
  font-size: 1vw;
  color: #027B98;
 font-family: Arial, Helvetica, sans-serif;

}


.section{
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
  marigin left: 4vw;
  margin-bottom:3vw;
}

  .button{
      justify-content:center;
      background:transparent;
       height: 4vw;
  width: 7vw;

      padding:1vw 1vw 1vw 1vw; /*top, right, bottom, left*/
      margin:-4vw 1vw 0 ;
      transition:all .5s ease;
      color:#41403E;
      outline:none;
      color: #027B98;
       border:solid 2px #FFA365;
      font-size: 1.5vw;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */}

       .fade:hover{ /* ":" means active link*/
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      }

#home-icon{
   position: relative;
   display: inline-block;

   transform: translate(-50%,-50%);
  left: 10%;
margin-top:8vw;
  text-align: center;
 -webkit-text-stroke: 0.05vw #FFF9F3; /*icon border to make them look lighter*/
}



#playStopButton {
margin-left: 40vw;
}

#answerButton{
  font-size: 1vw;
}



#centralText{
  font-size:1.2vw;

  margin-bottom:4vw;
}



#pianoModeButton {
  position:absolute;
  width: 6vw;
  height:5vw;
  left:84%;
  font-size: 1vw;
 top:5%;
   border-radius: 50%;
}

#randg-box{
  width:100%;
  height:20vw;

  display: inline-flex;
}

#hide-freq{
 position: absolute;
  left:74.5%;
  margin-top: 2vw;
  visibility:visible;
  padding: 0 0 2vw;

  z-index:30;
}


#showFreq{
position: relative;
  color:#00AAE6;
padding: 2vw 0 0 2vw;
font-size: 1.5vw;
left:15%;
margin-top: 3vw;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.c1{}
.db1{}
.d1{}
.eb1{}
.e1{}
.f1{}
.g1{}
.gb1{}
.ab1{}
.a1{}
.bb1{}
.b1{}

#hide-graph{

position: absolute;
  left:20%;
}

#graph-box{
     width: 25vw;
    height: 30vw;
    margin-top: 2.5vw;
    display: inline-flex;

}


#pent-box{
      display: block;
  margin-top:-2.5vw;


}
.pent-line{

   width: 12vw;
    height: 0.2vw;
    background-color: #027B98;
    position: relative;
 border-radius: 5%;

  margin: 3.2vw 0vw 2vw 3.5vw;
}

#note-box{

  height: 22vw;
  width: 5vw;
  margin:6.5vw -10vw 0vw ;
visibility: hidden;


}

.note{
   height: 1.2vw;
  width: 2vw;
  border: 2px solid  #FFA365;
  border-radius: 50%;
margin-top:0.5vw;
 }

#name-box{
  display: block;
  width: 3vw;
    height: 15vw;
margin-top: 7vw;
   visibility: hidden;
}

.name{
   text-align: center;
   color: #FFA365;
  width: 3vw;
    height: 1.7vw;
   	font-family: 'Raleway', sans-serif;
	font-size: 0.8vw;


}


#flatBox{
    position:absolute;
  height: 14vw;
  width: 1.2vw;
  margin:6.5vw 3vw;
   display: block;
  left:23%;
visibility: hidden;
}
.flat{
   color: #FFA365;
  width: 3vw;
    height: 1.7vw;
  font-weight: bold;
   	font-family: 'Raleway', sans-serif;
	font-size: 1.5vw;

}

#clef{
    width: 3vw;
    height: 8vw;
   margin: 6.5vw -6.5vw 1vw 16vw;

}


.extra-line{

   width: 3vw;
    height: 0.2vw;
    background-color: #027B98;
    position: relative;
 border-radius: 5%;
visibility: hidden;
  left: 52%;
  margin-top: 3.3vw;
}





#victoryPic
{position:absolute;
  width:40vw;
  height:40vw;
  margin-left:25vw;
  z-index:1500;
  top:35%;
  visibility:hidden;

}

#nopePic
{position:absolute;
  width:40vw;
  height:30vw;
  margin-left:30vw;
  z-index:1500;
  top:45%;
  visibility:hidden;
}


.percentageError{
 margin-left:73vw;
  font-size:1.5vw;
  color: #ffa365;
  margin-top:-22vw;
}

.errorBox{
  position:absolute;
  width:50vw;
top:-60%;
  left:5%;

}
.meter{
  display: block;
  width: 273px;
  height: 155px;
  margin: 0 auto;
}

#meter-left{
  transform: skewX(-1.4bdeg) skewY(0deg);
  stroke-width: 26;
  stroke-dashoffset:280;
  stroke-dasharray: 180 400;
  stroke: #2fc9ff;
  fill: none;

}

#meter-center{
transform: skewX(1deg) skewY(-0.1deg);
  stroke-width: 31;
  stroke-dashoffset: 75;
  stroke-dasharray: 50 200;
  stroke: #a3cd3b;

  fill: none;}

  #meter-right{
  transform: skewX(3deg) skewY(-1deg);
  stroke-width: 26;
  stroke-dashoffset: 350;
  stroke-dasharray: 200 600;
  stroke: #d22800;
  fill: none;
}

#meter-clock{
  transform: rotate(-54deg);
  transform-origin: 137px 146px;
  fill: black;

}

#meter-circle{
fill:black;
}


#searchButton {
  position:absolute;
    width: 7vw;
    height:5vw;
    left:88%;
    font-size: 1vw;
   top:5%;
     border-radius: 50%;
     margin-top: 2vw;
}

.properties {
  margin-left:78vw;
  margin-top: -4vw;
  font-size: 1.5vw;

}

.properties.inactive.property {
  color: #aaa;
}

.property {
  position: relative;
  color:#00AAE6;
  padding: 2vw 0 0 0vw;
}

.property.value {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}
